body{
    background-image: url(../imgs/fondo.jpg);
    max-width: 100%;
    height: 100vh;
    font-size: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "head"
    "nav"
    "principal"
    "redes";
}


nav  > div > .navbar-toggler{
    margin: auto;
}

.navbar{
    background-color: rgba(179, 230, 137, 0.741);
}

#barranav{
    width: auto;
}