.comocurartuMate{
    grid-area: principal;
    padding-top: 30px;
    height: 70vh;
    text-align: center;
    text-decoration: underline double 3px;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}

.video__titulo{
    background-color: $mainColor;
}