
footer{
    grid-area: redes;
    padding-left: 100px;
    font-size: 25px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    width: 100%;
    background-color:$mainColor;
}

.redes_titulo{
    text-align: center;
}

.redes__icono{
    height: 40px;
    padding-top: 10px;
    padding-inline: 20px;
}

.redes__lista{
    list-style-type: none;
}

li{
    text-align: center;
    display: inline-block;
}