header{
    grid-area: head;
    font-size: 60px;
    height: 100px;
    font-weight: bolder;
    text-align: center;
    background-color: #b3e689bd;

    > h1{
        cursor: pointer;
        display: inline-block;
    }
 }
