.home{
    text-align: center;
    font-size:  x-large;
    background-color: $mainColor;
}

.carousel-item {
    height: 80vh;
    justify-items: center;
    min-height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
