.productos {
    grid-area: principal;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30%;
    padding-top: 10px;
}

.card {
    border-radius: 20%;
    text-align: center;
    transition: transform .3s;
    background-color: $mainColor;


    &-text,
    &-title {
        text-align: center;

    }

    &-img-top {
        height: auto;
        width: 50%;
        margin-top: 5px;
    }


    &:hover {
        transform: scale(1.2);
        z-index: 99;
    }
}



.col-md3,
.col-sm-4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}