.productos {
    grid-area: principal;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30%;
    padding-top: 10px;
}

.card {
    border-radius: 20%;
    text-align: center;
    transition: transform .3s;
    background-color: $mainColor;


    &-text,
    &-title {
        text-align: center;

    }

    &-img-top {
        height: auto;
        width: 50%;
        margin-top: 5px;
    }


    &:hover {
        transform: scale(1.1);
        z-index: 99;
    }
}



.col-md3,
.col-sm-4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

$productos:(
    mates: #ecae1fac,
    bombillas:  #47bee2ac,
    yerberas: #1fa81aac,
    termos:  #ecae1fac,
    materas: #47bee2ac,
    accesorios: #1fa81aac
);

@each $item, $color in $productos{
    .carta-#{$item} {
        background-color: $color;
    }
}

.carta-mates{

    &:hover{ background: rgba(85, 83, 81, 0.899);
        color: white;
        border-radius: 30%;
    }
}

.card {
    @extend .carta-mates;
}

