.sobreNosotros {
    grid-area: principal;
    font-size: 20px;
    text-align: center;
    background-color: $mainColor;




    &__parrafo {
        line-height: 40px;
        text-align: justify;
        margin: 10px;
    }

    &__titulo {
        text-align: center;
        text-decoration: underline double 3px;
        font-size: 20px;
    }
}